
.tile1, .tile2{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    padding-bottom: 50px;
}

#note {
    min-height: 300px;
}

.btn-addnote{
    background-color: #f47524;
    color: white;
    width: 50%;
}

.hrline {
    margin-top: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}